@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: scroll;
}

@font-face {
	font-family: "Inter";
	src: url("fonts/Inter-VariableFont_slnt,wght.ttf")
			format("truetype supports variations"),
		url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
	font-weight: 1 999;
}

@font-face {
	font-family: "Lora";
	src: url("fonts/Lora-VariableFont_wght.ttf")
			format("truetype supports variations"),
		url("fonts/Lora-VariableFont_wght.ttf") format("truetype-variations");
	font-weight: 1 999;
}

@font-face {
	font-family: "Outfit";
	src: url("fonts/Outfit-VariableFont_wght.ttf")
			format("truetype supports variations"),
		url("fonts/Outfit-VariableFont_wght.ttf") format("truetype-variations");
	font-weight: 1 999;
}

@font-face {
	font-family: "Spectral";
	src: url("fonts/Spectral-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Spectral";
	src: url("fonts/Spectral-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Spectral";
	src: url("fonts/Spectral-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Spectral";
	src: url("fonts/Spectral-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Spectral";
	src: url("fonts/Spectral-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
